* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}

html{
	font-size: 14px;
}

header{
	width: 100%;
	height: 98px;
}
header div:nth-child(1){
	margin-left: 5%;
	float: left;
}
header div:nth-child(2){
	width: 2px;
	height: 44px;
	background: gray;
	margin: 27px 1%;
	float: left;
	color: gray;
}
header div:nth-child(3){
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 38px 0px;
	float: left;
	color: gray;
}
header div:nth-child(4){
	background-image: url(../img/phone-logo.png);
	background-repeat:no-repeat ;
	background-size: 19px 19px;
	float: right;
	font-size: 1*rem;
	line-height: 1.5*rem;
	margin: 39px 3%;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
	
}
.row {
	width: 100%;
	height: 600px;
	background-image: url(../img/login_background1.jpg);
	background-repeat: no-repeat;
	background-color: #262626;
	background-size: contain
}
.border{
	width: 100%;
	margin-top: 5%;
	border: 1px solid black;
	background-color: white;
	text-align: center;
}
.border p:nth-child(7){
	margin-top: 5%;
}
.text {
	width: 70%;
	height: 0;
	padding: 5%;
	color: gray;
	background-color: white;
	font-size: 1.8*rem;
	text-indent: 10%;
}
.p1 {
	margin-top: 2%;
	font-size: 24px;
	color: #000000;
}
#Txtidcode {
	width: 54%;
	
}
p {
	width: 100%;
	color: white;
	margin: 0 auto;
}

/*四种改变placeholder样式的方法,用于不同的浏览器*/
input::-webkit-input-placeholder {
	color: gray;
}
input:-moz-placeholder {
	color: gray;
}
input::-moz-placeholder {
	color: gray;
}
input:-ms-input-placeholder {
	color: gray;
}
span.span1{
	color: gray;
	font-size: 15px;
}
span.span2 {
	color: black;
	font-size: 15px;
	cursor: pointer;
	}
span.span3 {
	color: orange;
	font-size: 15px;
	cursor: pointer;
}
button {
	width: 70%;
	padding: 4% 0;
	margin: 0 auto;
	color: white;
	background-color: #25292E;
	cursor: pointer;
	border: 0;
}
#oBtn{
	color: white;
	font-size: 18px;
}
#oBtn:hover{
	background-color:#A60000;
	
}	
.sider{
	position: fixed;
	right: 0;
	top: 200px;
	background-color:#333333;
	cursor: pointer;
	z-index: 999;
}
.sider div:nth-child(1){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -88px -157px;
}
.sider div:nth-child(1):hover{
	background-position: -88px -122px;
	background-color: #C69C6D;
}
.sider div:nth-child(2){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -140px -157px;
	margin-top: 2px;
}
.sider div:nth-child(2):hover{
	background-position: -141px -127px;
	background-color: #C69C6D;
}
.sider div:nth-child(2):hover .content{
	display: block;
}

.sider div:nth-child(3){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -202px -157px;
	margin-top: 2px;
}
.sider div:nth-child(3):hover{
	background-position: -203px -127px;
	background-color: #C69C6D;
}
.sider div:nth-child(3):hover .content{
	display: block;
}
.sider div:nth-child(4){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -259px -163px;
	margin-top: 2px;
}
.sider div:nth-child(4):hover{
	background-position: -259px -127px;
	background-color: #C69C6D;
}
.sider div:nth-child(4):hover .content{
	display: block;
}
.sider div:nth-child(5){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -311px -157px;
	margin-top: 112px;
}
.sider div:nth-child(5):hover{
	background-position: -311px -125px;
	background-color: #C69C6D;
}
.sider div:nth-child(5):hover .content{
	display: block;
}
.sider div:nth-child(6){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -374px -161px;
	margin-top: 2px;
}
.sider div:nth-child(6):hover{
	background-position: -375px -128px;
	background-color: #C69C6D;
}
.sider div:nth-child(6):hover .content{
	display: block;
}
.sider div:nth-child(7){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -259px -163px;
	margin-top: 2px;
}
.sider div:nth-child(7):hover{
	background-position: -259px -127px;
	background-color: #C69C6D;
}
.sider div:nth-child(7):hover .content{
	display: block;
}
.sider div:nth-child(8){
	width: 35px;
	height: 35px;
	background-image: url(../img/backgroundImage.png);
	background-repeat: no-repeat;
	background-position: -437px -153px;
	margin-top: 2px;
}
.sider div:nth-child(8):hover{
	background-position: -437px -124px;
	background-color: #C69C6D;
}
.sider div:nth-child(8):hover .content{
	display: block;
}
.content{
	display: none;
	position: fixed;
	width: 100px;
	height: 35px;
	right: 35px;
	color: black;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
	background-color: white;
}
.content div:nth-child(2){
	top: 237px;
}
.content div:nth-child(3){
	top: 274;
	margin-top: 2px;
}
.content div:nth-child(4){
	top: 311px;
	margin-top: 2px;
}
#img{
	right: 57px;
	top: 456px;
	margin-top: 2px;
}
.content div:nth-child(6){
	top: 495px;
	margin-top: 2px;
}
.content div:nth-child(7){
	top: 532px;
	margin-top: 2px;
}
.content div:nth-child(8){
	top: 569px;
	margin-top: 2px;
}
		
.panel{
	border: none;
}
.footer-register{
	margin-top: 5%;
	border: none;
}
.footer-middle{
	border: none;
	margin-top: 100px;
}
.footer-message-top{
	width: 92%;
	height: 64px;
	/*background: lightpink;*/
	margin: 0 auto;
}
.footer-message{
	float: left;
	width: 240px;
	height: 64px;
	font-size: 12px;
	position: relative;
	left: 0;
	top: 0;
}
.footer-message-top01{
	position: absolute;
	left: 68px;
	top: 10px;
}
.p1{
	font-weight: bold;
}
.p2 a{
	color: #333;
}
.footer-middle{
	height: 600px;
	position: relative;
	background: url("../img/footer_message_bg.jpg");
}
.footer-message-center{
	width: 90%;
	height: 47%;
	margin: 0 auto;
}
.footer-center span{
	display: block;
	font-size: 12px;
}
.footer-center span a{
	color: #333;
	text-decoration: none;
}
.footer-center{
	float: left;
	width: 185px;
	color: #333;
}
.span1{
	margin: 20px 0;
	font-weight: bold;
	color: #000;
	font-size: 12px;
}
.footer-center-code{
	width: 120px;
}
.footer-message-bottom{
	width: 80%;
	height: 33%;
	/*background: lightcoral;*/
	position: absolute;
	top: 67%;
	left: 10%;
	text-align: center;
	color: #fff;					
}
.footer-message-bottom a{
	color: #fff;
}
.footer-message-bottom p{
	color: #fff;
}
.footer-message-bottom1{
	line-height: 66px;
}
.footer-message-bottom-img{
	margin-top: 23px;
}
.menu{
	position: absolute;
	bottom: -3%;
	left: 0;
}
